<?xml version="1.0"?>

<model>
  <name>MBZIRC Planar Lidar</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Michael Carroll</name>
    <email>michael@openrobotics.org</email>
  </author>

  <description>
    Planar scanning two-dimension lidar with 30 meter range
  </description>
</model>
