<?xml version="1.0"?>
<world xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="dock_2018" params="name x:=-2 y:=-18 z:=0 R:=0 P:=0 Y:=0.2">
    <include>
      <name>${name}</name>
      <uri>model://dock_2018</uri>
      <pose>${x} ${y} ${z} ${R} ${P} ${Y}</pose> 
    </include>
  </xacro:macro>
</world>
