<?xml version="1.0"?>
<world xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="include_all_xacros">
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/sandisland.xacro" />
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/sandisland2.xacro" />
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/nav_challenge.xacro" />
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/light_buoy.xacro" />
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/qualifying_pinger_transit_2016.xacro" />
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/dock_2016.xacro" />
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/dock_2018.xacro" />
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/scene_macro.xacro" />
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/usv_wind_plugin.xacro" />
  </xacro:macro>
</world>
