<?xml version="1.0" ?>
<world xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="scene_macro" params="time:=10 cloud_speed:=12">    <scene>
      <sky>
      <time>${time}</time>
      <clouds>
      <speed>${cloud_speed}</speed>
      </clouds>
      </sky>
      <grid>0</grid>
      <origin_visual>0</origin_visual>
    </scene>
  </xacro:macro>
</world>

