<?xml version="1.0"?>
<plugin xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro  name="wamv_gazebo_thruster_config" params="name">

  <gazebo>
    <xacro:property name="x_uu" value="72.4" />
    <xacro:property name="x_u" value="51.3" />
    <xacro:property name="max_velocity_mps" value="7.71667" />

    <plugin
      filename="gz-sim-thruster-system"
      name="gz::sim::systems::Thruster">
      <joint_name>${namespace}/${name}_engine_propeller_joint</joint_name>
      <thrust_coefficient>0.004422</thrust_coefficient>
      <fluid_density>1000</fluid_density>
      <propeller_diameter>0.2</propeller_diameter>
      <velocity_control>true</velocity_control>
      <!-- max total thrust / 2 -->
      <max_thrust_cmd>${((x_u + x_uu * max_velocity_mps) * max_velocity_mps)/ 2}</max_thrust_cmd>
      <namespace>${namespace}</namespace>
      <topic>thrusters/${name}/thrust</topic>
      <!-- Not used by Gazebo but used to run the bridge easily -->
      <name>${name}</name>
    </plugin>

    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>${namespace}/${name}_chassis_engine_joint</joint_name>
      <use_velocity_commands>true</use_velocity_commands>
      <topic>${namespace}/thrusters/${name}/pos</topic>
      <!-- Not used by Gazebo but used to run the bridge easily -->
      <name>${name}</name>
    </plugin>

  </gazebo>
  </xacro:macro>
</plugin>
