<?xml version="1.0"?>
<launch>

  <!-- For setting debug level to debug
  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find kingfisher_utils)/config/custom_rosconsole.conf"/>
  -->

<!-- Joystick Driver -->
<node pkg="joy" type="joy_node" name="joy">
  <param name="dev" value="/dev/input/js0"/>
  <!--<param name="autorepeat_rate" type="double" value="10.0" />  -->
  <param name="autorepeat_rate" value="10"/>
</node>

<!-- Joystick Teleop -->
<rosparam file="$(find robotx_gazebo)/config/diffdrive.yaml"
	  command="load"/>
<node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
  <remap from="cmd_vel" to="cmd_vel" />
</node>

<!-- Convert Twist messages to Drive messages -->
<node pkg="robotx_gazebo" type="twist2drive_diff.py" name="twist2drive_diff" output="screen" />

</launch>
