<?xml version="1.0"?>
<launch>
  <!-- Gazebo world to load -->
  <arg name="world" default="$(find-pkg-share usv_gazebo_plugins)/worlds/buoyancy_plugin_demo.world" />
  <!-- If true, run gazebo GUI -->
  <arg name="gui" default="true" />
  <!-- If true, run gazebo in verbose mode -->
  <arg name="verbose" default="true"/>

  <!-- Start Gazebo with the world file -->
  <include file="$(find-pkg-share gazebo_ros)/launch/gazebo.launch.py">
    <arg name="world"   value="$(var world)"/>
    <arg name="verbose"      value="$(var verbose)"/>
    <arg name="paused"       value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(var gui)" />
  </include>
</launch>
