<?xml version="1.0"?>

<model>
  <name>MBZIRC HD Camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Michael Carroll</name>
    <email>michael@openrobotics.org</email>
  </author>

  <description>
    RGB Camera with 1280x960 resolution
  </description>
</model>
