<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v-sensors">
<xacro:macro name="sensors">
  <!-- === wamv_imu === -->
  <xacro:wamv_imu y="-0.2" name="imu_wamv" />
  <!-- === wamv_gps === -->
  <xacro:wamv_gps x="-0.85" name="gps_wamv" />
  <!-- === wamv_p3d === -->
  <xacro:wamv_p3d name="p3d_wamv" />
