<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v-two-engines">

  <!-- Insert the base vehicle -->
  <xacro:include filename="$(find wamv_description)/urdf/wamv_base.urdf.xacro" />

  <!-- Insert two engines -->
  <xacro:include filename="$(find wamv_description)/urdf/engine.xacro" />
  <xacro:engine prefix="left" position="-2.373776 1.027135 0.318237" />
  <xacro:engine prefix="right" position="-2.373776 -1.027135 0.318237" />

</robot>
