<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v">

  <!-- Required arg for melodic and kinetic... -->
  <xacro:arg name="namespace" default="wamv"/>  
  <xacro:property name="namespace" value="$(arg namespace)" scope="global" /> 
  <!-- Macro for creating the main collisions as simple shapes. -->
  <xacro:macro name="main_collisions" params="prefix reflect:=1">
    <!-- Main float -->
    <collision name="rear_${prefix}_beam_upper">
        <origin xyz="0 -0 0" rpy="0 0 3.1416" />
      <geometry>
        <mesh filename="package://wamv_description/models/WAM-V-Base/mesh/Balsa.dae" scale="0.15 0.15 015" />
      </geometry>
    </collision>

  </xacro:macro>

  <link name="${namespace}/base_link">
  </link>

  <joint name="${namespace}/dummy_joint" type = "fixed">
    <parent link="${namespace}/base_link"/>
    <child link="${namespace}/dummy_link"/>
  </joint>

  <joint name="${namespace}/dummy2_joint" type = "fixed">
    <parent link="${namespace}/base_link"/>
    <child link="${namespace}/dummy2_link"/>
  </joint>
  
  <joint name="${namespace}/dummy3_joint" type = "fixed">
    <parent link="${namespace}/base_link"/>
    <child link="${namespace}/dummy3_link"/>
  </joint>

    <joint name="${namespace}/imu_joint" type="fixed">
    <parent link="${namespace}/dummy_link"/>
    <child link="${namespace}/imu_link"/>
    <origin rpy="0 0 0" xyz="0 0 0" />
  </joint>



  <!-- Basic model of the 16' WAM-V USV -->
  <link name="${namespace}/dummy_link">
    <visual>
      <geometry>
        <mesh filename="package://wamv_description/models/WAM-V-Base/mesh/Balsa.dae" scale="0.1 0.1 0.1" />
      </geometry>
      <origin xyz="0 -0 0" rpy="0 0 3.1416" />
    </visual>
      
      
    <!-- Left base collisions -->
    <xacro:main_collisions prefix="left" reflect="1" />

    <!-- Right side collisions -->
    <xacro:main_collisions prefix="right" reflect="-1" />

    <inertial>
      <!-- From WAM-V spec sheet -->
      <mass value="180.0"/>
      <inertia ixx="120.0" ixy="0.0" ixz="0.0" iyy="393" iyz="0.0" izz="446.0"/>
    </inertial>
  </link>

  <link name="${namespace}/dummy2_link">
    <visual >
        <origin xyz="-0.7 0.75 0.26" rpy="0 1.6 0" />
      <geometry>
        <cylinder length="0.4" radius="0.04"/>
      </geometry>
    </visual>
    <visual >
        <origin xyz="-0.7 -0.75 0.26" rpy="0 1.6 0" />
      <geometry>
        <cylinder length="0.4" radius="0.04"/>
      </geometry>

    </visual>
    <visual >
        <origin xyz="0.1 -0.75 0.26" rpy="0 1.6 0" />
      <geometry>
        <cylinder length="0.4" radius="0.04"/>
      </geometry>
    </visual>
    <visual >     
      <origin xyz="0.1 0.75 0.26" rpy="0 1.6 0" />
      <geometry>
        <cylinder length="0.4" radius="0.04"/>
      </geometry>

    </visual>
      
    <inertial>
      <!-- From WAM-V spec sheet -->
      <mass value="0.1"/>
      <inertia ixx="120.0" ixy="0.0" ixz="0.0" iyy="393" iyz="0.0" izz="446.0"/>
    </inertial>
  
  </link>

  <link name="${namespace}/dummy3_link">
    <visual >
        <origin xyz="-0.7 0 0.26" rpy="0 0 0" />
      <geometry>
        <box size="0.8 0.7 0.1"/>
      </geometry>
    </visual>
    <inertial>
      <!-- From WAM-V spec sheet -->
      <mass value="0.1"/>
      <inertia ixx="120.0" ixy="0.0" ixz="0.0" iyy="393" iyz="0.0" izz="446.0"/>
    </inertial>
  </link>

  <link name="${namespace}/imu_link">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </collision>
  </link>





 <gazebo reference="${namespace}/dummy_link"> 
    <material>Gazebo/Green</material> 
  </gazebo> 
  <gazebo reference="${namespace}/dummy2_link"> 
    <material>Gazebo/Black</material> 
  </gazebo> 
  <gazebo reference="${namespace}/dummy3_link"> 
    <material>Gazebo/White</material> 
  </gazebo> 

<gazebo reference="${namespace}/imu_link">
<plugin name="gazebo_imu_plugin" filename="libgazebo_imu_plugin.so">
      <robotNamespace></robotNamespace>
      <linkName>${namespace}/imu_link</linkName>
      <imuTopic>/imu</imuTopic>
      <gyroscopeNoiseDensity>0.0003394</gyroscopeNoiseDensity>
      <gyroscopeRandomWalk>3.8785e-05</gyroscopeRandomWalk>
      <gyroscopeBiasCorrelationTime>1000.0</gyroscopeBiasCorrelationTime>
      <gyroscopeTurnOnBiasSigma>0.0087</gyroscopeTurnOnBiasSigma>
      <accelerometerNoiseDensity>0.004</accelerometerNoiseDensity>
      <accelerometerRandomWalk>0.006</accelerometerRandomWalk>
      <accelerometerBiasCorrelationTime>300.0</accelerometerBiasCorrelationTime>
      <accelerometerTurnOnBiasSigma>0.196</accelerometerTurnOnBiasSigma>
  </plugin>
</gazebo>

</robot>
