<?xml version="1.0"?>
<launch>
  <!--
    These are the arguments you can pass this launch file.
    See: gazebo_ros/launch/empty_world.launch for details.
  -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="gui" default="true"/>
  <arg name="recording" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>

  <!-- Resume the logic in empty_world.launch, over-riding a number of arguments -->
  <include file="$(find-pkg-share gazebo_ros)/launch/empty_world.launch">
    <arg name="world" value="$(find-pkg-share wave_gazebo)/worlds/ocean.world" />
    <arg name="pause" value="$(var paused)" />
    <arg name="use_sim_time" value="$(var use_sim_time)" />
    <arg name="extra_gazebo_args" value="$(var extra_gazebo_args)" />
    <arg name="gui" value="$(var gui)" />
    <arg name="recording" value="$(var recording)" />
    <arg name="debug" value="$(var debug)" />
    <arg name="verbose" value="$(var verbose)" />
  </include>
</launch>
