<?xml version="1.0"?>
<launch>
  <!--
    These are the arguments you can pass this launch file.
    See: gazebo_ros/launch/empty_world.launch for details.
  -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="gui" default="true"/>
  <arg name="recording" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <!-- Start in a default namespace -->
  <arg name="namespace" default="wamv"/>

  <!-- Initial USV location and attitude-->
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.1" />
  <arg name="P" default="0" />
  <arg name="R" default="0" />
  <arg name="Y" default="0" />

  <!-- Allow user specified thruster configurations
       H = stern trusters on each hull
       T = H with a lateral thruster
       X = "holonomic" configuration -->
  <arg name="thrust_config" default="H" />

  <!-- Do you want to enable sensors? -->
  <arg name="camera_enabled"       default="true" />
  <arg name="gps_enabled"          default="true" />
  <arg name="imu_enabled"          default="true" />
  <arg name="lidar_enabled"        default="true" />
  <arg name="ground_truth_enabled" default="true" />

  <!-- Resume the logic in empty_world.launch, over-riding a number of arguments -->
  <include file="$(find-pkg-share gazebo_ros)/launch/empty_world.launch">
    <arg name="world" value="$(find-pkg-share wave_gazebo)/worlds/ocean_buoys.world" />
    <arg name="pause" value="$(var paused)" />
    <arg name="use_sim_time" value="$(var use_sim_time)" />
    <arg name="extra_gazebo_args" value="$(var extra_gazebo_args)" />
    <arg name="gui" value="$(var gui)" />
    <arg name="recording" value="$(var recording)" />
    <arg name="debug" value="$(var debug)" />
    <arg name="verbose" value="$(var verbose)" />
  </include>

  <!-- Load robot model -->
  <arg name="urdf" default="$(find-pkg-share wamv_gazebo)/urdf/wamv_gazebo.urdf.xacro"/>
  <arg name="generated_urdf" default="$(find-pkg-share wamv_gazebo)/urdf/robot_description"/>
  <arg name="cmd" 
      default="$(exec-in-pkg xacro xacro) '$(var urdf)' > $(var generated_urdf)
      thruster_config:=$(var thrust_config)
      camera_enabled:=$(var camera_enabled)
      gps_enabled:=$(var gps_enabled)
      imu_enabled:=$(var imu_enabled)
      lidar_enabled:=$(var lidar_enabled)
      ground_truth_enabled:=$(var ground_truth_enabled)
      namespace:=$(var namespace)"/>

  <executable cmd="$(var cmd)" name="robot_description" output="screen" shell="true" />

  <!-- Spawn model in Gazebo -->
  <node name="spawn_entity" pkg="gazebo_ros" exec="spawn_entity.py" respawn="false" output="screen"
  args="-x $(var x) -y $(var y) -z $(var z)
        -R $(var R) -P $(var P) -Y $(var Y)
        -entity $(var namespace) -file $(var generated_urdf)"/>
</launch>
