<?xml version="1.0"?>
<launch>
	<arg name="availible" default="$(find vrx_gazebo)/worlds/xacros"/>
  <param name="availible" value="$(arg availible)"/>

  <arg name="requested" default="$(find vrx_gazebo)/scripts/generator_scripts/src/world_generator/worlds.yaml"/>
  <param name="requested" value="$(arg requested)"/>

  <arg name="target" default="$(find vrx_gazebo)/worlds/generated_worlds/"/>
  <param name="target" value="$(arg target)"/>

  <node name = "sensor_gen" pkg="vrx_gazebo" type="generate_worlds.py" />
</launch>
