<?xml version="1.0"?>
<launch>
  <arg name="available" default="$(find wamv_gazebo)/urdf/sensors"/>
  <param name="available" value="$(arg available)"/>

  <arg name="requested" default="$(find vrx_gazebo)/scripts/generator_scripts/src/sensor_config/sensor_config.yaml"/>
  <param name="requested" value="$(arg requested)"/>

  <arg name="target" default="$(find wamv_description)/urdf/sensors.xacro"/>
  <param name="target" value="$(arg target)"/>

  <node name = "sensor_gen" pkg="vrx_gazebo" type="generate_sensors.py" output="screen"/>
</launch>
