<?xml version="1.0"?>
<!-- Includes all macros in this package so they don't need to be included individualy -->
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="cora">

  <!-- Include sensor macros -->
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_camera.xacro" />
  <!-- Modified for marina world -->
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_gps.xacro" />
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_imu.xacro" />
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_planar_lidar.xacro" />
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_3d_lidar.xacro" />
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/lidar.xacro" />
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_p3d.xacro" />
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_pinger.xacro" />

  <!-- Include dynamics macros -->
  <xacro:include filename="$(find cora_description)/urdf/cora_dynamics_plugin.xacro" />

</robot>
