<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="usv_wind_gazebo" params="name">
    <!--Gazebo Plugin for simulating WAM-V dynamics-->
    <gazebo>
      <plugin name="usv_wind_${name}" filename="libusv_gazebo_wind_plugin.so">
        <bodyName>base_link</bodyName>
        <!-- Wind -->
        <wind_direction>1 0 0 </wind_direction>
        <wind_coeff_vector>0.5 0.5 0.33 </wind_coeff_vector>
        <wind_mean_velocity>5 </wind_mean_velocity>
        <var_wind_gain_constants>100</var_wind_gain_constants>
        <var_wind_time_constants>5</var_wind_time_constants>
        <random_seed></random_seed> <!-- set to zero/empty to randomize -->
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
