<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="usv_thrust_gazebo" params="name">
    <!--Gazebo Plugin for simulating WAM-V dynamics-->
    <gazebo>
      <plugin name="usv_thrust_${name}" filename="libusv_gazebo_thrust_plugin.so">
        <!-- General plugin parameters -->
        <cmdTimeout>1.0</cmdTimeout>

        <!-- Specific parameters for each of N thrusters -->
        <thruster>
          <linkName>left_propeller_link</linkName>
          <propJointName>left_engine_propeller_joint</propJointName>
          <cmdTopic>left_thrust_cmd</cmdTopic>
          <mappingType>1</mappingType>
          <maxCmd>1.0</maxCmd>
          <maxForceFwd>250.0</maxForceFwd>
          <maxForceRev>-100.0</maxForceRev>
        </thruster>
        <thruster>
          <linkName>right_propeller_link</linkName>
          <propJointName>right_engine_propeller_joint</propJointName>
          <cmdTopic>right_thrust_cmd</cmdTopic>
          <mappingType>1</mappingType>
          <maxCmd>1.0</maxCmd>
          <maxForceFwd>250.0</maxForceFwd>
          <maxForceRev>-100.0</maxForceRev>
        </thruster>

      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
