<?xml version="1.0" ?>
<!-- World containing sandisland model and some course challenges -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="robotx_example_course">
    <xacro:include filename="$(find vmrc_gazebo)/worlds/sandisland.xacro" />
    <xacro:sandisland />

    <include>
      <uri>model://robotx_navigation_challenge</uri>
      <pose>15 0 2 0 0 0</pose>
    </include>
    <include>
      <uri>model://robotx_light_buoy</uri>
      <pose>60 0 0.25 0 0 0</pose>
    </include>
    <include>
      <uri>model://robotx_2016_qualifying_pinger_transit</uri>
      <pose>55 -50 0 0 0 -1.3</pose>
    </include>

    <!-- The 2016 dock with the three placards -->
    <include>
      <uri>model://dock_2016</uri>
      <pose>80 -8.75 0 0 0 0</pose>
    </include>

    <!-- The 2018 dock with the two placards -->
    <include>
      <uri>model://dock_2018</uri>
      <pose>120 -2.75 0 0 0 0</pose>
    </include>

  </world>
</sdf>
