<?xml version="1.0" ?>
<!-- World containing sandisland model and some course challenges -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="robotx_example_course">
    <xacro:include filename="$(find vmrc_gazebo)/worlds/sandisland.xacro" />
    <xacro:sandisland />
    <include>
      <name>navigation_task</name>
      <uri>model://navigation_task</uri>
      <pose>15 0 0.5 0 0 0</pose>
    </include>

    <!-- The scoring plugin -->
    <plugin name="navigation_scoring_plugin"
            filename="libnavigation_scoring_plugin.so">
      <gates>
        <gate>
          <red>navigation_task::red_bound_0</red>
          <green>navigation_task::green_bound_0</green>
        </gate>
        <gate>
          <red>navigation_task::red_bound_1</red>
          <green>navigation_task::green_bound_1</green>
        </gate>
        <gate>
          <red>navigation_task::red_bound_2</red>
          <green>navigation_task::green_bound_2</green>
        </gate>
        <gate>
          <red>navigation_task::red_bound_3</red>
          <green>navigation_task::green_bound_3</green>
        </gate>
        <gate>
          <red>navigation_task::red_bound_4</red>
          <green>navigation_task::green_bound_4</green>
        </gate>
        <gate>
          <red>navigation_task::red_bound_5</red>
          <green>navigation_task::green_bound_5</green>
        </gate>
        <gate>
          <red>navigation_task::red_bound_6</red>
          <green>navigation_task::green_bound_6</green>
        </gate>
      </gates>

    </plugin>

  </world>
</sdf>
