<?xml version="1.0"?>

<model>
  <name>MBZIRC RGB-D Camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Michael Carroll</name>
    <email>michael@openrobotics.org</email>
  </author>

  <description>
    RGBD Camera with 640x480 resolution and 10 meters of depth sensing
  </description>
</model>
