<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="wamv_p3d" params="name:=ground_truth_odometry">
    <gazebo>
      <plugin
        filename="gz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
        <dimensions>3</dimensions>
        <odom_publish_frequency>10.0</odom_publish_frequency>
        <odom_frame>map</odom_frame>
        <robot_base_frame>wamv/base_link</robot_base_frame>
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>
