<?xml version="1.0"?>

<!-- Generate wamv given custom configurations. Used by vrx-docker for
     competition evaluation -->

<launch>
  <arg name="namespace" default="wamv_config"/>

  <group ns="$(var namespace)">
    <arg name="sensor_yaml" default="$(find-pkg-share vrx_gazebo)/src/vrx_gazebo_python/generator_scripts/wamv_config/example_sensor_config.yaml"/>
    <arg name="thruster_yaml" default="$(find-pkg-share vrx_gazebo)/src/vrx_gazebo_python/generator_scripts/wamv_config/example_thruster_config.yaml"/>
    <arg name="wamv_target" default=""/>
  
    <node name="wamv_generator" pkg="vrx_gazebo" exec="generate_wamv.py" output="screen" >
      <param name="sensor_yaml" value="$(var sensor_yaml)"/>
      <param name="thruster_yaml" value="$(var thruster_yaml)"/>
      <param name="wamv_target" value="$(var wamv_target)"/>
      <param name="wamv_gazebo" value="$(find-pkg-share wamv_gazebo)/urdf/wamv_gazebo.urdf.xacro"/>
      <param name="sensors_dir" value="$(find-pkg-share wamv_gazebo)/urdf/sensors"/>
      <param name="thrusters_dir" value="$(find-pkg-share wamv_description)/urdf/thrusters"/>
  </node>
  </group>
</launch>
