<?xml version="1.0"?>
<launch>
  <arg name="max_angle" default="$(eval pi/2)"/>

  <!-- Keyboard teleop -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen">
  </node>

  <!-- Convert Twist messages to Drive messages -->
  <node pkg="vrx_gazebo" type="twist2thrust.py" name="twist2thrust" output="screen" args="--keyboard">
    <remap from="left_cmd" to="left_thrust_cmd"/>
    <remap from="right_cmd" to="right_thrust_cmd"/>
  </node>

  <!-- Set thruster angles -->
  <node pkg="vrx_gazebo" type="key2thrust_angle.py" name="key2thrust_angle" output="screen">
    <param name="max_angle" value="$(arg max_angle)"/>
  </node>

</launch>
