<?xml version="1.0"?>
<launch>
  <arg name="max_angle" default="1.57"/>
  <!-- <arg name="thrust_config" default="H"/> -->
  <arg name="thrust_config" default="H"/>
  <arg name="namespace" default="wamv"/>

  <!-- Keyboard teleop -->
  <node pkg="teleop_twist_keyboard" exec="teleop_twist_keyboard" name="teleop_twist_keyboard" output="screen" launch-prefix="xterm -e">
  </node>

  <let name="h_t_config" value="$(eval '\'$(var thrust_config)\' in [\'H\', \'T\']')" />
  <let name="x_config" value="$(eval '\'$(var thrust_config)\' == \'X\'')" />

  <!-- Two cases for different topic names for rear thrusters -->
  <!-- Case 1 -->
  <group if="$(var h_t_config)">
    <!-- Set articulation angles -->
    <node pkg="vrx_gazebo" exec="key2thrust_angle.py" name="key2thrust_angle" output="screen" launch-prefix="xterm -e">
      <param name="max_angle" value="$(var max_angle)"/>
      <remap from="left_thrust_angle" to="/$(var namespace)/thrusters/left_thrust_angle"/>
      <remap from="right_thrust_angle" to="/$(var namespace)/thrusters/right_thrust_angle"/>
    </node>
    <!-- Convert Twist messages (from keyboard teleop) to Drive messages -->
    <node pkg="vrx_gazebo" exec="twist2thrust.py" name="twist2thrust" output="screen">
      <param name="max_angle" value="$(var max_angle)"/>
      <param name="keyboard" value="true"/>
      <remap from="left_cmd" to="/$(var namespace)/thrusters/left_thrust_cmd"/>
      <remap from="right_cmd" to="/$(var namespace)/thrusters/right_thrust_cmd"/>
    </node>
  </group>

  <!-- Case 1 -->
  <group if="$(var x_config)">
    <!-- Set articulation angles -->
    <node pkg="vrx_gazebo" exec="key2thrust_angle.py" name="key2thrust_angle" output="screen" launch-prefix="xterm -e">
      <param name="max_angle" value="$(var max_angle)"/>
      <remap from="left_thrust_angle" to="/$(var namespace)/thrusters/left_rear_thrust_angle"/>
      <remap from="right_thrust_angle" to="/$(var namespace)/thrusters/right_rear_thrust_angle"/>
    </node>
    <!-- Convert Twist messages (from keyboard teleop) to Drive messages -->
    <node pkg="vrx_gazebo" exec="twist2thrust.py" name="twist2thrust" output="screen">
      <param name="keyboard" value="true"/>
      <remap from="left_cmd" to="/$(var namespace)/thrusters/left_rear_thrust_cmd"/>
      <remap from="right_cmd" to="/$(var namespace)/thrusters/right_rear_thrust_cmd"/>
    </node>

  </group>
  
</launch>
