<?xml version="1.0"?>
<!-- Basic WAM-V with gazebo plugins for dynamics -->
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="WAM-V">
  <xacro:arg name="locked" default="false" />
  <xacro:arg name="thruster_config" default="H" />
  <xacro:arg name="camera_enabled" default="false" />
  <xacro:arg name="gps_enabled" default="false" />
  <xacro:arg name="imu_enabled" default="false" />
  <xacro:arg name="lidar_enabled" default="false" />
  <xacro:arg name="ground_truth_enabled" default="false" />
  <xacro:arg name="vrx_sensors_enabled" default="false" />
  <xacro:arg name="pinger_enabled" default="false" />
  <xacro:arg name="ball_shooter_enabled" default="false" />
  <xacro:arg name="thruster_namespace" default="thrusters/"/>
  <xacro:arg name="camera_namespace" default="cameras/"/>
  <xacro:arg name="sensor_namespace" default="sensors/"/>
  <xacro:arg name="acoustic_namespace" default="acoustics/"/>
  <xacro:arg name="shooter_namespace" default="shooters/"/>
  <!-- Note: this is only used for some sensors that do not correctly use the
  robotNamespace parameter -->
  <xacro:arg name="namespace" default="wamv"/>
  <xacro:property name="thruster_namespace" value="$(arg thruster_namespace)" scope="global" />
  <xacro:property name="camera_namespace" value="$(arg camera_namespace)" scope="global" />
  <xacro:property name="sensor_namespace" value="$(arg sensor_namespace)" scope="global" />
  <xacro:property name="acoustic_namespace" value="$(arg acoustic_namespace)" scope="global" />
  <xacro:property name="shooter_namespace" value="$(arg shooter_namespace)" scope="global" />
  <xacro:property name="namespace" value="$(arg namespace)" scope="global" />

  <!-- Sensor yaml file -->
  <xacro:arg name="yaml_component_generation" default="false"/>
  <xacro:arg name="component_xacro_file" default = ""/>

  <!-- Thruster yaml file -->
  <xacro:arg name="yaml_thruster_generation" default="false"/>
  <xacro:arg name="thruster_xacro_file" default = ""/>

  <!-- === The WAM-V platform === -->
  <xacro:include filename="$(find wamv_gazebo)/urdf/wamv_gazebo.xacro"/>

  <!-- === Batteries === -->
  <xacro:include filename="$(find wamv_description)/urdf/battery.xacro"/>
  <xacro:battery prefix="left" position="0 1 0.45" orientation="0 0 0"/>
  <xacro:battery prefix="right" position="0 -1 0.45" orientation="0 0 0"/>

  <!-- === Thrusters === -->
  <!-- Use thruster yaml file if given -->
  <xacro:if value="$(arg yaml_thruster_generation)">
    <xacro:wamv_gazebo thruster_layout="$(arg thruster_xacro_file)"/>
  </xacro:if>

  <!-- Otherwise, add thrusters based on thruster_config variable -->
  <xacro:unless value="$(arg yaml_thruster_generation)">
    <xacro:property name="thruster_conf" value="$(arg thruster_config)"/>

    <!-- Default WAM-V with two aft thrusters -->
    <xacro:if value="${thruster_conf == 'H'}">
       <xacro:wamv_gazebo thruster_layout="$(find wamv_gazebo)/urdf/thruster_layouts/wamv_aft_thrusters.xacro"/>
    </xacro:if>

    <!-- WAMV with "T" thruster configuration -->
    <xacro:if value="${thruster_conf == 'T'}">
      <xacro:wamv_gazebo thruster_layout="$(find wamv_gazebo)/urdf/thruster_layouts/wamv_t_thrusters.xacro"/>
    </xacro:if>

    <!-- WAMV with "X" thruster configuration -->
    <xacro:if value="${thruster_conf == 'X'}">
      <xacro:wamv_gazebo thruster_layout="$(find wamv_gazebo)/urdf/thruster_layouts/wamv_x_thrusters.xacro"/>
    </xacro:if>
  </xacro:unless>

  <!-- === [Un]lock the robot to the world === -->
  <gazebo>
    <plugin filename="gz-sim-detachable-joint-system" name="gz::sim::systems::DetachableJoint">
      <parent_link>$(arg namespace)/base_link</parent_link>
      <child_model>platform</child_model>
      <child_link>dummy_upper</child_link>
      <topic>/vrx/release</topic>
      <suppress_child_warning>true</suppress_child_warning>
    </plugin>
  </gazebo>

  <!-- === TF === -->
  <!-- Publish robot state information -->
  <gazebo>
    <plugin filename="libgz-sim-pose-publisher-system.so"
      name="gz::sim::systems::PosePublisher">
      <publish_link_pose>false</publish_link_pose>
      <publish_sensor_pose>true</publish_sensor_pose>
      <publish_collision_pose>false</publish_collision_pose>
      <publish_visual_pose>false</publish_visual_pose>
      <publish_nested_model_pose>false</publish_nested_model_pose>
      <publish_model_pose>false</publish_model_pose>
      <use_pose_vector_msg>true</use_pose_vector_msg>
      <static_publisher>false</static_publisher>
      <static_update_frequency>1</static_update_frequency>
    </plugin>

    <plugin
      filename="gz-sim-joint-state-publisher-system"
      name="gz::sim::systems::JointStatePublisher">
    </plugin>
  </gazebo>


  <!-- === Sensors === -->
  <!-- Use sensor yaml file if given -->
  <xacro:if value="$(arg yaml_component_generation)">
    <xacro:include filename="$(arg component_xacro_file)"/>
    <xacro:yaml_components />

    <!-- Add CPU Cases -->
    <xacro:include filename="$(find wamv_description)/urdf/cpu_cases.xacro" />
    <xacro:cpu_cases position="-0.15 0 1.53" orientation="0 0 0"/>
  </xacro:if>

  <!-- Otherwise, add sensors based on enable variables -->
  <xacro:unless value="$(arg yaml_component_generation)">
    <!-- Add a front camera -->
    <xacro:if value="$(arg camera_enabled)">
      <xacro:wamv_camera name="front_camera" y="0.3" x="0.75" P="${radians(15)}" />
    </xacro:if>

    <!-- Add simulated GPS -->
    <xacro:if value="$(arg gps_enabled)">
      <xacro:wamv_gps name="gps_wamv" x="-0.85" />
    </xacro:if>

    <!-- Add Simulated IMU -->
    <xacro:if value="$(arg imu_enabled)">
      <xacro:wamv_imu name="imu_wamv" y="-0.2" />
    </xacro:if>

    <!-- Add 3D LIDAR -->
    <xacro:if value="$(arg lidar_enabled)">
      <xacro:lidar name="lidar_wamv" y="-0.3" type="16_beam"/>
    </xacro:if>

    <!-- Add P3D ground truth -->
    <xacro:if value="$(arg ground_truth_enabled)">
      <xacro:wamv_p3d name="p3d_wamv"/>
    </xacro:if>

    <!-- Add pinger -->
    <xacro:if value="$(arg pinger_enabled)">
      <xacro:wamv_pinger sensor_name="receiver" position="-528 191 -2.0" />
    </xacro:if>

    <!-- Add ball shooter (default pitch angle: ~-60 deg) -->
    <xacro:if value="$(arg ball_shooter_enabled)">
      <xacro:wamv_ball_shooter name="ball_shooter" x="0.54" y="0.30" z="1.296" pitch="-1.04"/>
    </xacro:if>

    <!-- ==== VRX sensor configuration ==== -->
    <xacro:if value="$(arg vrx_sensors_enabled)">

      <!-- Add CPU Cases -->
      <xacro:include filename="$(find wamv_description)/urdf/cpu_cases.xacro" />
      <xacro:cpu_cases position="-0.15 0 1.53" orientation="0 0 0"/>

      <!-- Add a stereo camera pair -->
      <xacro:wamv_camera name="front_left_camera" y="0.1" x="0.75" P="${radians(15)}" />
      <xacro:wamv_camera name="front_right_camera" y="-0.1" x="0.75" P="${radians(15)}" />

      <!-- Add a camera facing right -->
      <xacro:wamv_camera name="middle_right_camera" y="-0.45" P="${radians(15)}" Y="${radians(-90)}" post_Y="${radians(-90)}" />

      <!-- Add simulated GPS -->
      <xacro:wamv_gps name="gps_wamv" x="-0.85" />

      <!-- Add Simulated IMU -->
      <xacro:wamv_imu name="imu_wamv" y="-0.2" />

      <!-- Add 3D LIDAR -->
      <xacro:lidar name="lidar_wamv" type="16_beam"/>

      <!-- Add pinger -->
      <xacro:wamv_pinger sensor_name="receiver" position="-528 191 -2.0" />

      <!-- Add ball shooter (default pitch angle: ~-60 deg) -->
      <xacro:wamv_ball_shooter name="ball_shooter" x="0.54" y="0.30" z="1.296" pitch="-1.04"/>

    </xacro:if>

  </xacro:unless>

</robot>
