<?xml version="1.0" ?>
<!-- World containing sandisland model and some course challenges -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="robotx_example_course">
    <xacro:include filename="$(find vrx_gazebo)/worlds/sandisland.xacro" />
    <xacro:sandisland />

    <!-- The light buoy -->
    <include>
      <uri>model://robotx_light_buoy</uri>
      <pose>30 0 0.25 0 0 0</pose>
    </include>

    <!-- The 2018 dock with the two placards -->
    <include>
      <uri>model://dock_2018</uri>
      <pose>60 -2.75 0 0 0 0</pose>
    </include>

    <!-- The scoring plugin -->
    <plugin name="navigation_scoring_plugin"
            filename="libnavigation_scoring_plugin.so">
      <vehicle>wamv</vehicle>
      <task_name>find_symbols_and_dock</task_name>
      <initial_state_duration>10</initial_state_duration>
      <ready_state_duration>10</ready_state_duration>
      <running_state_duration>300</running_state_duration>
      <release_joints>
        <joint>
          <name>wamv_external_pivot_joint</name>
        </joint>
        <joint>
          <name>wamv_external_riser</name>
        </joint>
      </release_joints>
      <gates>
        <gate>
          <left_marker>red_bound_0</left_marker>
          <right_marker>green_bound_0</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_1</left_marker>
          <right_marker>green_bound_1</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_2</left_marker>
          <right_marker>green_bound_2</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_3</left_marker>
          <right_marker>green_bound_3</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_4</left_marker>
          <right_marker>green_bound_4</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_5</left_marker>
          <right_marker>green_bound_5</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_6</left_marker>
          <right_marker>green_bound_6</right_marker>
        </gate>
      </gates>

    </plugin>

  </world>
</sdf>
