<?xml version="1.0" ?>
<!-- World containing sandisland model and some course challenges -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="perception_task_example">
    <xacro:include filename="$(find vrx_gazebo)/worlds/sandisland.xacro" />
    <xacro:sandisland />

	<!-- Include all the objects we plan to use for perception.
		 Stash them out of the field of view for now -->
	<include>
	  <name>red_0</name>
	  <pose>-10 0 1 0 0 0</pose>
	  <uri>model://surmark950410</uri>      
	</include>
	
	<include>
	  <name>green_0</name>
	  <pose>-11 0 1 0 0 0</pose>
	  <uri>model://surmark950400</uri>      
	</include>

	<include>
	  <name>black_0</name>
	  <pose>-12 0 1 0 0 0</pose>
	  <uri>model://black_totem</uri>      
	</include>

	<plugin filename="libpopulation_plugin.so" name="populate_plugin">
	  <!-- Parameters for ScoringPlugin base class -->
	  <vehicle>wamv</vehicle>
      <task_name>perception</task_name>
      <initial_state_duration>1</initial_state_duration>
      <ready_state_duration>1</ready_state_duration>
      <running_state_duration>300</running_state_duration>
	  <!-- Parameters for PopulationPlugin -->
	  <loop_forever>false</loop_forever>
	  <frame>wamv</frame>
	  <object_sequence>
		<object>
		  <time>5.0</time>
		  <type>red</type>
		  <name>red_mark</name>
		  <pose>6 0 1 0 0 0</pose>
		</object>
		<object>
		  <time>5.0</time>
		  <type>green</type>
		  <name>green_mark</name>
		  <pose>6 6 1 0 0 0</pose>
		</object>
		<object>
		  <time>5.0</time>
		  <type>black</type>
		  <name>black_totem</name>
		  <pose>6 -6 1 0 0 0</pose>
		</object>
	  </object_sequence>
	</plugin>
  </world>
</sdf>
