<?xml version="1.0" ?>
<!-- World containing only sandisland model -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="sandisland">
    <xacro:include filename="$(find vrx_gazebo)/worlds/sandisland.xacro" />
    <xacro:sandisland /> 
    <!--wind for the wamv-->
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/gazebo_wind_plugin.xacro"/>
    <xacro:usv_wind_gazebo n="1">
      <wind_objs>
        <wind_obj>
          <name>wamv</name>
          <link_name>base_link</link_name>
          <coeff_vector>.5 .5 .33</coeff_vector>
	</wind_obj>
      </wind_objs>
    </xacro:usv_wind_gazebo>
  </world>
</sdf>
