<?xml version="1.0" ?>
<!-- World containing sandisland model and some course challenges -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="robotx_wayfinding">
    <xacro:include filename="$(find vrx_gazebo)/worlds/sandisland.xacro" />
    <xacro:sandisland />

    <plugin name="wayfinding_scoring_plugin"
            filename="libwayfinding_scoring_plugin.so">
      <vehicle>wamv</vehicle>
      <task_name>wayfinding</task_name>
      <!-- Goal as Latitude, Longitude, Yaw -->
      <waypoints>
        <!-- Approx. starting point of wamv -->
        <waypoint>
          <pose>21.3109331464 -157.888576027 1.21756121843</pose>
        </waypoint>
        <!-- A waypoint -->
        <waypoint>
          <pose>21.30996 -157.8901 1.0</pose>
        </waypoint>
        <!-- Another waypoint -->
        <waypoint>
          <pose>21.31 -157.89 1.0</pose>
        </waypoint>
      </waypoints>
      <initial_state_duration>10</initial_state_duration>
      <ready_state_duration>10</ready_state_duration>
      <running_state_duration>300</running_state_duration>
      <release_joints>
        <joint>
          <name>wamv_external_pivot_joint</name>
        </joint>
        <joint>
          <name>wamv_external_riser</name>
        </joint>
      </release_joints>
    </plugin>

  </world>
</sdf>
