<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Standalone example for the rangebearing plugin -->
  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(find gazebo_rangebearing_plugin)/worlds/box.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Initial bot location and attitude-->
  <arg name="x" default="-1" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="P" default="0" />
  <arg name="R" default="0" />
  <arg name="Y" default="0.57" />

  <!-- Load robot model -->
  <arg name="urdf" default="$(find rangebearing_gazebo_plugin)/urdf/boxbot.urdf"/>
  <param name="robot_description" textfile="$(arg urdf)"/>

  <!-- Spawn model in Gazebo -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
  args="-x $(arg x) -y $(arg y) -z $(arg z)
        -R $(arg R) -P $(arg P) -Y $(arg Y)
        -urdf -param robot_description -model spawned_boxbot"/>
</launch>
