<?xml version="1.0" ?>
<!-- World containing sandisland model and some course challenges -->
<sdf version="1.4" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="robotx_example_course">
    <xacro:include filename="$(find robotx_gazebo)/worlds/sandisland.xacro" />
    <xacro:sandisland />
    
    <include>
      <uri>model://robotx_navigation_challenge</uri>
      <pose>15 0 2 0 0 0</pose>
    </include>
    <include>
      <uri>model://robotx_light_buoy</uri>
      <pose>60 0 0 0 0 0</pose>
    </include>
  </world>
</sdf>
