<?xml version="1.0" ?>
<!-- World containing sandisland model and some course challenges -->
<sdf version="1.4" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="robotx_example_course">
    <xacro:include filename="$(find robotx_gazebo)/worlds/macros.xacro" />
    <xacro:sandisland />
    <xacro:navigation_challenge />
    <xacro:light_buoy />
  </world>
</sdf>
