<?xml version="1.0"?>
<!-- Macro to insert the robotx "Demonstrate Navigation Control" challenge into the world -->
<world xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="light_buoy" params="name:=light_buoy x:=-45 y:=60 Y:=0">
    <include>
      <uri>model://robotx_light_buoy</uri>
      <pose>${x} ${y} 0 0 0 ${Y}</pose>
      <name>${name}</name>
    </include>
  </xacro:macro>
</world>
