<?xml version="1.0" ?>
<!-- World containing sandisland model and the navigation challenge -->
<sdf version="1.4" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="sandisland_buoys">
    <xacro:include filename="$(find robotx_gazebo)/worlds/sandisland.xacro" />
    <xacro:sandisland />
    <xacro:include filename="$(find robotx_gazebo)/worlds/navigation_challenge.xacro" />
    <xacro:navigation_challenge />
  </world>
</sdf>
