<?xml version="1.0"?>

<model>
  <name>MBZIRC RF Long Range</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <description>
    A long range RF range sensor.
  </description>
</model>
