name: Ubuntu Bionic / Linux

on: [push, pull_request]

jobs:
  test-gazebo9-melodic:

    runs-on: ubuntu-18.04
    container: 
      image: osrf/vrx:current

    steps:
      - run: 
          echo $HOME;
          echo `pwd`;
          whoami;
          sudo chown -R `whoami`:`whoami` .

      - uses: actions/checkout@v2
      - name: Install base dependencies
        run: |
          sudo apt update;
          sudo apt-get -y install cppcheck protobuf-compiler;
  
      - name: Static code checking
        run: sh tools/code_check.sh

      - name: Set up workspace
        run: |
          mkdir -p /tmp/vrx_ws/src;
          ln -s `pwd` /tmp/vrx_ws/src;
          cd /tmp/vrx_ws

      - name: Build
        run: |
          bash /opt/ros/melodic/setup.bash;
          catkin_make -j1

      - name: Run tests
        run: catkin_make run_tests -j1
